.navbar-inverse {
    background: #4d545d;
    color: #4d545d;
    padding: 11.5px 0;
    border-top: 2px solid #00b1b3;
    position: relative;
    z-index: 200;
    margin-bottom: 0px;
}

/* style glyph */
.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #00b1b3!important;;

}


.navbar-default {
    background-color: #fff;
    border-color: #d3e0e9;
    margin-bottom: 0px;
    padding: 10px;
}
/*dropown the ul */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}


.sidebar2,.main-content{
    height:100%;
}
.sidebar2 {
    background-color: #1a1f27;
    box-shadow: 2px 2px 5px #262a35;
    height: 100%;
}
.logo {
    padding-top: 20px;
    color:#afb1b5;
}

.btn.Add-friend{
    background-color:#F17153;
    border: 1px solid #50e6df;
    color:#eee;
}
.btn.Add-friend:hover,.btn.Add-friend:active,
.btn.Add-friend:active:focus,.btn.Add-friend:active:hover,
.btn.Add-friend:visited,.btn.Add-friend:focus
{
    background-color:#F17153;
    border: 0.5px solid transparent;
    color:white;
    outline:none;
    font-weight:600;
}
.list {
    color: #eee;
    list-style: none;
    padding-left: 0px;
}

li>i {
    margin-right:15px;
}
.list> li {
    padding: 15px 0px 15px 40px;
    font-size: 16px;
    font-weight:lighter;
}
.list>li:hover {
    color: white;
    transition: padding-left 0.2s linear;
    padding-left: 60px;

}
.main-content{
    width:100%;
    padding-top:10px ;
}
.list-group-item {
    border-left:0px solid black;
    border-right:0px solid black;
}

.menu-label{

    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.5px;
    margin-bottom: 1em;
    color: #00b1b3;
    margin-left:15px;
}
.menu-label:not(:first-child) {
    margin-top: 20px;
}
#navbar{
    background-color:#4267b2;
    border-bottom: 0px solid #ffffff;
    border-left: 0px solid #29487d;
    border-top: 0px solid #29487d;
    border-right: 0px solid #29487d;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #4d545d;
    padding: 11.5px 0;
    position: relative;
    z-index: 200;
}

.on-hover{
    position: absolute;
    margin-left: 80%;
    margin-top: -45px;

}
a:hover#on-hover1{
    background-color: #325999;
    /*#e9ebee*/
}
.search-expanded{
    width: 705px;
    height:35px;
    margin-left: 60px;
    /*margin-top: 5px;*/
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px ;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    /*position:absolute;*/
    /*line-height: 20px;*/

}
.button-search{
    position: absolute;
    /*float: left;*/
    background-color: #00b1b3;
    color: #fff;
    border:#00b1b3;
    /*height: auto!important;*/
    padding: 4px 15px;
    margin-left: -83px;
    margin-top: 3px;
    /*line-height: 27px;*/
    font-size:16px;

}
#question-group{
    background-color: #ffffff;
    /*margin-top: 30px;*/
    border-radius: 4px;
    position: relative;
    width: 220px;
    /*margin-left: 65px;*/
    /*margin-top: 420px;*/
    border: 1px solid #fff;
    /*margin-bottom: 10%;*/
    /*padding-bottom: 5px;*/
}
.right-side-create {
    color: #90949c;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 13px;
    padding: 5px 5px 0px 5px;
}
.right-side-question {
    color: #90949c;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 13px;
    padding: 0px;
}

.btn-creategroup{
    font-weight: bold;
}
#new-group{
    margin-top: 5px;
    position: absolute;
}
#new-group-content{
    color: #90949c;
    font-size: 11px;
    position: absolute;
    margin-top: 25px;
}
#new-question-content{
    color: #4b4f56;
    font-size: 11px;
    position: absolute;
    margin-top: 10px;

}
#row-border{
    margin-bottom: 20px;
    position: relative;
}
.btn-create-question{
    height:25px;
    width:100px;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: #365899;
    /*border-color: #365899;*/
    position: relative;
    color: #ffffff;
    margin-left: 50px;
    margin-bottom: 5px;
    border:1px solid #365899;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.sidebar-bgcolor
{
    width: 371px;
    height: 100%;
    background-color: #e9ebee;
    margin-left: -30px;
    position: relative;
    border-radius: 4px;
    border-color:#e9ebee ;
}

.list-group-item
{
    color: #4d545d;
    text-align: left;
    font-weight: 400;
    font-size:18px;
}
.log-brand{
    float: left;
    font-size: 20px;
    margin-left: 50px;
}
.question
{   width: 790px;
    /*background-color: black;*/
    position: relative;
    height: 400px;
    margin-top: 50px;
    margin-left: 60px;
    /*border:1px solid black;*/
    /*border-top: 0px;*/
}
.is-position
{
    margin-left: -85px;
    width:500px;
}
.is-circle
{
    border-radius: 50%;
}
.is-title a{
    color: #4d545d;
    /*font-size: 100%;*/
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
}

.is-link
{
    font-size: 0.8em;
    font-weight: 700;
    color: rgb(245, 104, 87);
}
.is-link-color
{
    font-size: 0.8em;
    font-weight: 700;
    color: #cacaca;
}
.is-link-creator
{
    font-size: 0.8em;
    font-weight: 700;
    color: #00b1b3;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
}
.description
{
    font-size: 13px;
    color: #919499;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: none 86ms ease-out;
    transition: none 86ms ease-out;
    margin-top: 10px;
}
.conversation-list-view-count
{
    color:#848d95;
    font-size: 15px;
    /*font: inherit;*/
    vertical-align: baseline;
    float: right;
    margin-top: -50px;
    margin-right: -290px;

}
.conversation-list-answer-count
{
    color:#848d95;
    font-size: 15px;
    /*font: inherit;*/
    vertical-align: baseline;
    float: right;
    margin-top: -50px;
    margin-right: -200px;

}
.is-posted
{
    margin-top:-15px;
}
/**/
#nav{list-style:none;margin-left: 0px;padding: 0px;float: right}
#nav li {
    float: left;
    margin-right: 20px;
    font-size: 14px;
    font-weight:bold;
}
#nav li a{color:#333333;}
#nav li a:hover{color:#006699;}
/**/
#notification_li
{
    position:relative
}
#notificationContainer
{
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    /*text-decoration: underline;*/
    top: 30px;
    margin-left: -290px;
    margin-top: 25px;
    width: 350px;
    z-index: -1;
    display: none; // Enable this after jquery implementation
}
/*// Popup Arrow*/
   #notificationContainer:before {
       content: '';
       display: block;
       position: absolute;
       width: 0;
       height: 0;
       color: transparent;
       border: 10px solid black;
       border-color: transparent transparent white;
       margin-top: -20px;
       margin-left: 317px;
   }
#notificationTitle
{
    font-weight: bold;
    padding-left: 8px;
    padding-top: 8px;
    font-size: 13px;
    background-color: #ffffff;
    position: fixed;
    z-index: 1000;
    width: 234px;
    border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
    padding: 33px 0px 0px 0px !important;
    min-height:300px;
}
#notificationFooter
{
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 12px;
    border-top: 1px solid #dddddd;

    /*position: inherit;*/
}
/**/
#notification_count
{
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 9px;
    -moz-border-radius: 9px;
    -webkit-border-radius: 9px;
    position: absolute;
    margin-top: 5px;
    font-size: 11px;
}
.notifications-menu
{
    margin-top: 15px;
    margin-left: 25px;
}
.fwb
{
    color: #1d2129;
    /*color:#444444;*/
    font-size: 15px;
    font-family: 'Source Sans Pro',sans-serif;
}
.ask
{
    color:#888888;
    font-size:12px;
}