.navbar-inverse {
    background: #4d545d;
    color: #4d545d;
    padding: 11.5px 0;
    border-top: 2px solid #00b1b3;
    position: relative;
    z-index: 200;
    margin-bottom: 0px;
}

/* style glyph */
.navbar-inverse .navbar-brand {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.navbar-inverse .navbar-nav > li > a {
    color: white;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #00b1b3!important;;

}


.navbar-default {
    background-color: #fff;
    border-color: #d3e0e9;
    margin-bottom: 0px;
    padding: 10px;
}
/*dropown the ul */
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
}


.sidebar2,.main-content{
    height:100%;
}
.sidebar2 {
    background-color: #1a1f27;
    box-shadow: 2px 2px 5px #262a35;
    height: 100%;
}
.logo {
    padding-top: 20px;
    color:#afb1b5;
}

.btn.Add-friend{
    background-color:#F17153;
    border: 1px solid #50e6df;
    color:#eee;
}
.btn.Add-friend:hover,.btn.Add-friend:active,
.btn.Add-friend:active:focus,.btn.Add-friend:active:hover,
.btn.Add-friend:visited,.btn.Add-friend:focus
{
    background-color:#F17153;
    border: 0.5px solid transparent;
    color:white;
    outline:none;
    font-weight:600;
}
.list {
    color: #eee;
    list-style: none;
    padding-left: 0px;
}

li>i {
    margin-right:15px;
}
.list> li {
    padding: 15px 0px 15px 40px;
    font-size: 16px;
    font-weight:lighter;
}
.list>li:hover {
    color: white;
    transition: padding-left 0.2s linear;
    padding-left: 60px;

}
.main-content{
    width:100%;
    padding-top:10px ;
}
.list-group-item {
    border-left:0px solid black;
    border-right:0px solid black;
}

.menu-label{

    font-weight: 700;
    font-size: 18px;
    letter-spacing: -.5px;
    margin-bottom: 1em;
    color: #00b1b3;
    margin-left:15px;
}
.menu-label:not(:first-child) {
    margin-top: 20px;
}
#nav{
    background-color:#4267b2;
    border-bottom: 0px solid #ffffff;
    border-left: 0px solid #29487d;
    border-top: 0px solid #29487d;
    border-right: 0px solid #29487d;
    border-radius: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #4d545d;
    padding: 11.5px 0;
    position: relative;
    z-index: 200;
}

.on-hover{
    position: absolute;
    margin-left: 80%;
    margin-top: -45px;

}
a:hover#on-hover1{
    background-color: #325999;
    /*#e9ebee*/
}
.search-expanded{
    width: 650px;
    height:35px;
    margin-left: 20px;
    /*margin-top: 5px;*/
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('https://www.w3schools.com/howto/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    /*position:absolute;*/
    /*line-height: 20px;*/

}
.button-search{
    position: absolute;
    /*float: left;*/
    background-color: #00b1b3;
    color: #fff;
    border:#00b1b3;
    /*height: auto!important;*/
    padding: 4px 15px;
    margin-left: -83px;
    margin-top: 3px;
    /*line-height: 27px;*/
    font-size:16px;

}
#question-group{
    background-color: #ffffff;
    /*margin-top: 30px;*/
    border-radius: 4px;
    position: relative;
    width: 220px;
    /*margin-left: 65px;*/
    /*margin-top: 420px;*/
    border: 1px solid #fff;
    /*margin-bottom: 10%;*/
    /*padding-bottom: 5px;*/
}
.right-side-create {
    color: #90949c;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 13px;
    padding: 5px 5px 0px 5px;
}
.right-side-question {
    color: #90949c;
    font-size: 13px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    line-height: 13px;
    padding: 0px;
}

.btn-creategroup{
    font-weight: bold;
}
#new-group{
    margin-top: 5px;
    position: absolute;
}
#new-group-content{
    color: #90949c;
    font-size: 11px;
    position: absolute;
    margin-top: 25px;
}
#new-question-content{
    color: #4b4f56;
    font-size: 11px;
    position: absolute;
    margin-top: 10px;

}
#row-border{
    margin-bottom: 20px;
    position: relative;
}
.btn-create-question{
    height:25px;
    width:100px;
    font-family: inherit;
    letter-spacing: inherit;
    background-color: #365899;
    /*border-color: #365899;*/
    position: relative;
    color: #ffffff;
    margin-left: 50px;
    margin-bottom: 5px;
    border:1px solid #365899;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
}
.sidebar-bgcolor
{
    width: 330px;
    height: 100%;
    background-color: #e9ebee;
    margin-left: -30px;
    position: relative;
    border-radius: 4px;
}

.list-group-item
{
    color: #4d545d;
    text-align: left;
    font-weight: 400;
    font-size:18px;
}
.log-brand{
    float: left;
    font-size: 20px;
    margin-left: 50px;
}
